{% extends 'base.html.twig' %}

{% block title %}Crear Proveedor
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/proveedores/index.css"/>
{% endblock %}

{% block body %}
	<div class="container p-5">
		<div class="flex">
			<a href="/" class="btn btn-secondary">Proveedores</a>
			<a href="/create" class="btn btn-secondary">Crear proveedor</a>
		</div>
		<div class="row p-5">
			<form method="POST" action="/store">
				<div class="mb-3">
					<label class="form-label" for="nombre">Nombre:
					</label>
					<input type="text" class="form-control" name="nombre" placeholder="Nombre">
				</div>
				<div class="mb-3">
					<label class="form-label" for="email">Email:
					</label>
					<input type="text" class="form-control" name="email" placeholder="Email">
				</div>
				<div class="mb-3">
					<label class="form-label" for="telefono">Telefono:
					</label>
					<input type="number" class="form-control" name="telefono" placeholder="Telefono">
				</div>
				<div class="mb-3">
					<label class="form-label" for="tipo">Tipo:
					</label>
					<select name="tipo" class="form-select">
						<option value="" disabled selected>Selecciona una opción</option>
						<option value="hotel">Hotel</option>
						<option value="pista">Pista</option>
						<option value="complemento">Complemento</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label" for="tipo">¿Activo?:
					</label>
					<input type="radio" class="form-check-input" name="activo" value="true">
					<label for="activo" class="form-check-label">Si</label>
					<input type="radio" class="form-check-input" name="activo" value="false">
					<label for="activo" class="form-check-label">No</label>
				</div>
				<button type="submit" class="btn btn-primary">Crear Proveedor</button>
			</form>
		</div>
	</div>
{% endblock %}
