{% extends 'base.html.twig' %}

{% block title %}Mostrar Proveedores
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="css/proveedores/index.css"/>
{% endblock %}

{% block body %}
	<ul>
		<li><a href="/">Proveedores</a></li>
		<li><a href="/create">Crear proveedor</a></li>
	</ul>
{% endblock %}
